.pageContainer {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

.section {
  height: 100vh;
  scroll-snap-align: start;
}

.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.rowContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.leftspace {
  width: 250px;
}

.centerToggle {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}


.buttonContainer {
  position: absolute;
  top: 2rem;
  right: 5rem;
  display: flex;
  align-items: center;
  gap: 5rem;
}

@media (max-width: 768px) {
  .rowContainer {
    margin-bottom: 5px;
  }

  .leftspace {
    width: 50px;
  }

  .centerToggle {
    margin-right: 3px;
  }

  .rightButton {
    justify-content: flex-end;

  }
}