.pageContainer {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

.section {
  height: 100vh;
  scroll-snap-align: start;
}

.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  top: 2rem;
  padding: 0 5rem;
}

.leftspace {
  width: 250px;
}

.centerToggle {
  margin: 0 auto;
}


.buttonContainer {
  position: absolute;
  top: 2rem;
  right: 5rem;
  display: flex;
  align-items: center;
  gap: 5rem;
}

@media (max-width: 768px) {
  .buttonContainer {
    right: 2rem;
    gap: 10rem;
    padding-right: 24px;
    padding-bottom: 100px;
  }

  .centerToggle {
    position: absolute;
    right: 190px;
    top: 2rem;
    /* adjust as needed */
    transform: translateX(-50%);
  }
}