.container {
    /* width: 100%; */
    overflow: hidden;
    position: relative;
    margin: 0 2.5rem 0 2.5rem;
  }
  
  .slider {
    display: flex;
    transition: transform 1s ease-in-out;
    width: max-content; /* Ensure the slider expands to fit children */
  }
  
  .slide {
    flex: 0 0 auto; /* Don't shrink, don't grow */
    margin-left: 20px;
  }
  
  .image {
    margin-left: 0;
    height: 50vh;
    border-radius: 32px;
    width: 100%;
    max-width: 100%;
    object-fit: cover;
  }
  
  /* Mobile Styles */
  @media (max-width: 768px) {
    .image {
      border-radius: 16px;
      width: 100%;
      height: 45vh;
      object-fit: cover;
    }
  
    .slide {
      margin-left: 10px;
    }
  }
  