.container {
    text-align: center;
    position: relative;
    height: auto;
    padding: 20px;
  }
  
  .topSection {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 80%;
    margin: 0 auto;
    padding-bottom: 10px;
  }
  
  .leftText {
    width: 18%;
    font-size: 16px;
    opacity: 0.7;
    font-weight: 400;
    line-height: 16px;
    color: #a4a4a4;
    margin-top: 10px;
  }
  
  .designerText,
  .developerText {
    font-size: 12px;
    opacity: 0.7;
    font-weight: 400;
    line-height: 18px;
    color: #a4a4a4;
   
  }
  
  .developerName {
    font-size: 12px;
    font-weight: 400;
    color: white;
    
  }
  
  .horizontalLine {
    width: 30%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.3);
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
  }
  
  .logoContainer {
    margin: 10px 0;
  }
  
  .socialIcons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
  }
  
  .iconContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #444343;
    width: 40px;
    height: 40px;
    border: 1px solid #9e9e9e;
    border-radius: 20px;
  }
  
  .thankYouMessage {
    margin-top: 40px;
    font-size: 190px;
    font-weight: 400;
    opacity: 0.2;
    color: #9e9e9e;
    font-style: italic;
    text-align: center;
    line-height: 100%;
  }
  
  .highlight {
    opacity: 1;
    font-family: figtree;
    font-size: 190px;
    font-weight: 800;
    color: white;
    margin-left: 10px;
    letter-spacing: 6%;
  }

  @media (max-width: 768px) {
    .thankYouMessage {
      font-size: 40px;
    }
  
    .highlight {
      font-size: 40px;
    }

    .topSection {
      max-width: 100%;
      padding-bottom: 5px;
      display: block;
    align-items: center;
    justify-content: center;
    }

    .leftText{
       height: auto;
       width: auto;
       font-size: 15px;
       margin-top: 10px;
    }

    .designerText,
    .developerText,
    .developerName {
      font-size: 12px;
    margin-top: 15px;
    }

    .horizontalLine {
      display: none;
    }
  
    .socialIcons {
      gap: 8px;
      padding-top: 10px;
    }

    .logoContainer {
      width: 38px;
      margin-left: 150px;
    }
  
    .iconContainer {
      width: 28px;
      height: 28px;
    }
  
    .logo {
      width: 40px;
      
    }
  }