/* Add these styles matching toggle button behavior */
.button {
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
}

.loading {
  display: inline-block;
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    opacity: 1
  }

  50% {
    opacity: 0.5
  }

  100% {
    opacity: 1
  }
}

.button:hover {
  background-color: #FFB41E !important;
  /* Slightly darker yellow */
}

.cardContainer {
  display: flex;
  flex-direction: column;
  background-color: #444343;
  border-radius: 24px;
  padding: 20px;
  width: 90%;
  max-width: 900px;
  border: 1px solid #9e9e9e;
  margin: 80px auto;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  align-items: center;
  justify-content: flex-start;
}

.iconContainer {
  background-color: rgba(255, 210, 61, 1);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}

.iconText {
  font-size: 24px;
  color: white;
}

.cardContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.title {
  font-size: 24px;
  margin-bottom: 10px;
  color: rgba(255, 255, 255, 1);
  font-weight: 700;
}

.description {
  font-size: 16px;
  margin-bottom: 15px;
  font-weight: 400;
  color: rgba(162, 162, 162, 1);
}

.button {
  padding: 10px 15px;
  color: rgba(255, 255, 255, 1);
  border: none;
  border-radius: 30px;
  font-size: 14px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  font-weight: 400;

}

.button:hover {
  background-color: rgba(255, 180, 30, 1);
}

.arrow {
  margin-left: 8px;
  font-size: 18px;
}

/* Mobile responsiveness */
@media (max-width: 768px) {
  .cardContainer {
    width: 85%;
    padding: 15px;
    margin-bottom: 20px;
  }

  .iconContainer {
    width: 20px;
    height: 20px;
  }

  .iconText {
    font-size: 12px;
  }


  .title {
    font-size: 14px;
  }

  .description {
    font-size: 14px;
  }

  .button {
    font-size: 12px;
    padding: 8px 12px;
  }

  .arrow {
    font-size: 10px;
    height: 10px;
    margin-bottom: 7px;
  }
}